<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- CSS-->
    <link rel="stylesheet" href="/css/styles.css">
     <!-- FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo_contenedor">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            <div class="busqueda">
                <form action="">
                    <input type="search" placeholder="Buscar productos, marcas...">
                </form>
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="navbar">
            <ul class="lista-superior">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="lista-inferior">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main class="home__productos">
        <img class="banner" src="/images/img-home-banner.jpg" alt="" width="100%">
        <section class="seccion__productos">
            <h4 class="seccion__productos--titulo">Basado en tu última visita</h4>
            <div class="contenedor__productos">
                <article class="seccion__productos--tarjeta">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen" width="100%">
                    <div class="caja_logo">
                        <div class="camion_logo">
                            <i class="fa-solid fa-truck verde"></i>
                        </div>
                        <div class="producto_precio">
                            <p class="precio">$6.770</p>
                            <p class="verde descuento">40% off</p>
                        </div>
                        <h5 class="descripcion">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="seccion__productos--tarjeta">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen" width="100%">
                <div class="caja_logo ">
                    <div class="camion_logo">
                        <i class="fa-solid fa-truck verde"></i>
                    </div>
                    <div class="producto_precio">
                        <p class="precio">$230.000</p>
                        <p class="verde descuento">20% off</p>
                    </div>
                    <h5 class="descripcion">MacBook Pro 2019</h5>
                </div>
                </article>
                <article class="seccion__productos--tarjeta">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen" width="100%">
                    <div class="caja_logo">
                        <div class="camion_logo">
                            <i class="fa-solid fa-truck verde"></i>
                        </div>
                        <div class="producto_precio">
                            <p class="precio">$70.500</p>
                            <p class="verde descuento">10% off</p>
                        </div>
                            <h5 class="descripcion">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="seccion__productos--tarjeta">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen" width="100%">
                    <div class="caja_logo ">
                        <div class="camion_logo">
                            <i class="fa-solid fa-truck verde"></i>
                        </div>
                        <div class="producto_logo">
                            <p class="precio">$23.200</p>
                            <p class="verde descuento">5% off</p>
                        </div class="desc-cont">
                        <h5 class="descripcion">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
        <section class="seccion__productos">
            <h4 class="seccion__productos--titulo">Ofertas</h4>
            <div class="contenedor__productos">
                <article class="seccion__productos--tarjeta">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen" width="100%">
                    <div class="caja_logo">
                        <div class="camion_logo">
                            <i class="fa-solid fa-truck verde"></i>
                        </div>
                        <div class="producto_precio">
                            <p class="precio">$6.770</p>
                            <p class="verde descuento">40% off</p>
                        </div>
                        <h5 class="descripcion">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="seccion__productos--tarjeta">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen" width="100%">
                <div class="caja_logo ">
                    <div class="camion_logo">
                        <i class="fa-solid fa-truck verde"></i>
                    </div>
                    <div class="producto_precio">
                        <p class="precio">$230.000</p>
                        <p class="verde descuento">20% off</p>
                    </div>
                    <h5 class="descripcion">MacBook Pro 2019</h5>
                </div>
                </article>
                <article class="seccion__productos--tarjeta">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen" width="100%">
                    <div class="caja_logo">
                        <div class="camion_logo">
                            <i class="fa-solid fa-truck verde"></i>
                        </div>
                        <div class="producto_precio">
                            <p class="precio">$70.500</p>
                            <p class="verde descuento">10% off</p>
                        </div>
                            <h5 class="descripcion">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="seccion__productos--tarjeta">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen" width="100%">
                    <div class="caja_logo ">
                        <div class="camion_logo">
                            <i class="fa-solid fa-truck verde"></i>
                        </div>
                        <div class="producto_logo">
                            <p class="precio">$23.200</p>
                            <p class="verde descuento">5% off</p>
                        </div>
                        <h5 class="descripcion">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
             </article>
             <article>
                <p><i class="fa-solid fa-gift"></i></p>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
            </article>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
    </footer>

</body>
</html>